body{

    background-color: hsl(257, 40%, 49%);
    background-image: url(images/bg-desktop.svg);
    padding: 50px;
    background-size: cover;
    margin: 0;

}

.illustration-mockups{

margin-top: 60px;
}

.logo{height: 50px;}

