main{

    display: flex;

    align-items: center;

}

.main-div{

color: white;
margin-left: 50px;
}

.div2, .div3{

    max-width: 150px;
    background-color: black;
}

.div3{margin-top: 30px;}

.div4{
   
    max-width: 400px;
    color: white;
    font-size: 70px;
    padding-left: 70rem;
    min-width: 400px;
    
}
